<div class="row">
    <div class="col">
        <ngb-progressbar
            [max]="21"
            [value]="pointsThisWeek.points"
            [hidden]="!pointsThisWeek.points"
            [type]="pointsThisWeek.progress"
            [striped]="true"
        >
            <span>{{ pointsThisWeek.points }} / Goal : 10</span>
        </ngb-progressbar>

        <ngb-alert [dismissible]="false" [hidden]="pointsThisWeek.points">
            <span jhiTranslate="home.getMoving">No points yet this week, better get moving !</span>
        </ngb-alert>
    </div
</div>
